body{
    background-color: #11052C !important;
}

b{
    text-align: center;
    color: #F43B86 !important;
    font-family: 'League Spartan', sans-serif;
    font-size: 60px;
    letter-spacing: 0.1cm;
    margin-top: 20px;
    display: block !important;
}


input[type=text] {
    background-color: #3D087B;
    width: 50%;
    color: white;
    padding: 10px;
    margin-inline: 20px;
    border-color: black;
  }


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-top: 40px;
  }

#submit{
    width: 10%;
    margin: auto;
    color: white;
    background-color: #F43B86;
}

#status{
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: #FFE459;
}

#teori{
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFE459;
    background-color: 3D087B;
}

#credits{
    white-space: pre-line;
    font-family: 'League Spartan', sans-serif;
    color: #F43B86;
    position: fixed; 
    bottom: 0; 
    width:100%; 
    text-align: center;
    padding-bottom: 1%;
}